<style>
<!--background image-->
body {
    background-image: url('K-pop Background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
/* Style the link to look like a button */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;  /* position the button absolutely */
    bottom: 20px;       /* postion at the bottom */
    right: 20px;        /* postion at the right. */

/* Change the button color when you hover over it */
.button:hover {
    background-color: #0056b3;
}



