<!--background image-->
<style>
body {
    background-image: url('K-pop Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: Fantasy, cursive; /*font for the first heading */
    color: red;
    text-shadow: 0 0 2px #000, 0 0 2px #000; /*adds a shadow effect*/
}

h2 {
    font-family: Fantasy, cursive; /* font for the second heading */
    color: blue;
    text-shadow: 0 0 2px #000, 0 0 2px #000;
}

/* Style the link to look like a button */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;  /* position the button absolutely */
    bottom: 20px;       /* postion at the bottom */
    right: 20px;        /* postion at the right. */
}

/* Change the button color when you hover over it */
.button:hover {
    background-color: #0056b3;
}

 /*changes the letters on the left side*/
.letter-links {
    font-family: "Brush Script MT", cursive;
}

.letter-links li a { /*styles the letter links to bold*/
    font-weight: bold;
    color: black;
    transition: color 0.3s;  /* Add a smooth transition effect for color change */
}

.letter-links li a:hover { /* changes color when user hovers over links */
    color: springgreen;
}
</style>
<ul class="letter-links">
    <li><a href="example.html">A</a></li>
    <li><a href="example.html">B</a></li>
    <li><a href="example.html">C</a></li>
    <li><a href="example.html">D</a></li>
    <li><a href="example.html">E</a></li>
    <li><a href="example.html">F</a></li>
    <li><a href="example.html">G</a></li>
    <li><a href="example.html">H</a></li>
    <li><a href="example.html">I</a></li>
    <li><a href="example.html">J</a></li>
    <li><a href="example.html">K</a></li>
    <li><a href="example.html">L</a></li>
    <li><a href="example.html">M</a></li>
    <li><a href="example.html">N</a></li>
    <li><a href="example.html">O</a></li>
    <li><a href="example.html">P</a></li>
    <li><a href="example.html">Q</a></li>
    <li><a href="example.html">R</a></li>
    <li><a href="example.html">S</a></li>
    <li><a href="example.html">T</a></li>
    <li><a href="example.html">U</a></li
	<li><a href="example.html">V</a></li>
	<li><a href="example.html">W</a></li>
	<li><a href="example.html">X</a></li>
	<li><a href="example.html">Y</a></li>
	<li><a href="example.html">Z</a></li>
	<li><a href="example.html">number</a></li>	
    </ul>



