body{
	background: -webkit-linear-gradient(right, #00FF00, #000000, #00aa00);
	background: -moz-linear-gradient(right, #00FF00, #000000, #00aa00);
	background: -o-linear-gradient(right, #00FF00, #000000, #00aa00);
	background: linear-gradient(to right, #00FF00, #000000, #00aa00);
	color: #00FF00;
}

h1{
	color: #00eeff;
	text-shadow:0 0 2px aqua;
	font-family: times new roman, arial;
}

h2{
	color: #000fff;
	text-shadow:0 0 2px blue;
	font-family: times new roman, arial;
}

h3{
	color: #ffbbbb;
	text-shadow:0 0 2px blue;
	font-family: times new roman, arial;
}

p{
	color: #00bbbb;
	text-shadow:0 0 2px purple;
	font-family: times new roman, arial;
}

a:visited{
	color: aqua;
}